<div class="clearfix">
    <h3 class="text-muted pull-left">Absence Register</h3>
    <%= if @conn.assigns[:user] do
            render "nav_user.html", conn: @conn 
        else
            render "nav_guest.html", conn: @conn 
        end
    %>
</div>