<p class="text-right">
    Welcome <b><%= @conn.assigns.user.name %></b>
</p>
<nav class="pull-right">
    <ul class="nav ">
        <li class="active">
            <a href="/auth/signout">Sign Out</a>
        </li>
    </ul>
</nav>
