<h2>Listing Absence request</h2>

<table class="table">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Request reason</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for absence_request <- @absence_request do %>
    <tr>
      <td><%= absence_request.start_date %></td>
      <td><%= absence_request.end_date %></td>
      <td><%= absence_request.request_reason %></td>

      <td class="text-right">
        <span><%= link "Show", to: absence_request_path(@conn, :show, absence_request), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: absence_request_path(@conn, :edit, absence_request), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: absence_request_path(@conn, :delete, absence_request), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Absence request", to: absence_request_path(@conn, :new) %></span>
