<h2>Show Absence request</h2>

<ul>

  <li>
    <strong>Start date:</strong>
    <%= @absence_request.start_date %>
  </li>

  <li>
    <strong>End date:</strong>
    <%= @absence_request.end_date %>
  </li>

  <li>
    <strong>Request reason:</strong>
    <%= @absence_request.request_reason %>
  </li>

</ul>

<span><%= link "Edit", to: absence_request_path(@conn, :edit, @absence_request) %></span>
<span><%= link "Back", to: absence_request_path(@conn, :index) %></span>
